{% load static i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="{% static 'assets/js/tailwind/tailwind.js' %}"></script>
        <script src="{% static 'assets/js/tailwind.config.js' %}"></script>
        <link href="{% static 'assets/css/flowbite/flowbite.min.css' %}" rel="stylesheet" />
        <script src=" {% static 'assets/js/flowbite/flowbite.min.js' %}"></script>
    </head>
    <body class="bg-secondary-50 font-[Inter,_sans-serif]">
        <div class="p-4">
            <div class="bg-white rounded-xl [box-shadow:0px_0px_20px_0px_rgb(0_0_0_/_5%)] {% if not request.META.HTTP_HX_REQUEST %}h-[95vh]{% endif %} p-5 flex items-center justify-center">
                <div class="error-container flex flex-col items-center text-center">

                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
